@charset "utf-8";

/* 初期設定 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* 変数 */
    --base: #F2F2F2;
    --main: #1F1F1F;
    --accent: #fa983a;

    font-family: 'Noto Sans JP', sans-serif;
}


/* ここからデザイン部 */

/* 全体 */

body {
    background-color: var(--backcolor);
}
.contents{
    width: 70%;
    margin:0 auto;
}


/* ヘッダー部 */
/* メモ　各リンクの縦でセンターをとれるよう変更 */
#header {
    background-color: var(--main);
    height: 4em;
    position: relative;
    transition: all 0.3;
}

#link {
    padding: 1em 0.5em;
}

#link ul {
    display: block;
    list-style-type: none;
    text-align: right;
    float: right;
    color: var(--base);
    font-weight: bold;
}

#link li {
    float: left;
    padding: 0 1em;
}

/* トップ */
#top{
    background-color: #00ff00;
    height: 72vh;
    width: 100%;
}