    @charset "utf-8";
    /* 初期設定 */
    
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        /* 変数 */
        --base: #F2F2F2;
        --main: #1F1F1F;
        --accent: #fa983a;
        font-family: 'Noto Sans JP', sans-serif;
    }
    /* ここからデザイン部 */
    /* 全体 */
    
    body {
        background-color: var(--backcolor);
        color: var(--main);
    }
    
    p {
        color: var(--main);
    }
    
    .WidthLock {
        width: 80%;
    }
    
    .contents {
        margin: 3em auto;
    }
    
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }
    
    .textColor {
        color: var(--main);
    }
    
    small {
        font-size: 0.5em;
    }
    
    .textHeading {
        margin: 1em;
        border-bottom: solid;
    }
    
    .flexcont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .flexitem {
        width: 15%;
        height: 5em;
        border: solid;
        margin: 0.75em;
        text-align: center;
    }
    
    .flexitem>div {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .subflexcont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .subflexitem {
        width: 30%;
        height: 27em;
        border: solid;
        margin: 0.75em;
        text-align: center;
    }
    
    .subsection {
        width: 80%;
        margin: 0 auto;
        background-color: var(--main);
        color: var(--base);
        font-size: 0.8em;
    }
    
    .subsection:nth-child(even) {
        background: var(--base);
        color: var(--main);
    }
    
    .LangLogo>img {
        width: 50%;
        margin: 1em;
    }
    
    .tectext {
        text-align: left;
        margin: 1em;
    }
    /* ヘッダー部 */
    
    #header {
        height: 4em;
        position: fixed;
        transition: all 0.5s 0s ease;
        left: 50%;
        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        z-index: 1;
    }
    
    #link {
        transform: translate(0%, -75%);
        position: absolute;
        right: 0%;
        top: 50%;
    }
    
    #link ul {
        display: block;
        list-style-type: none;
        text-align: right;
        float: right;
        color: var(--base);
        text-shadow: 1px 1px 2px var(--main);
        filter: blur(0px);
    }
    
    #link>ul>a {
        color: var(--base)
    }
    
    #link li {
        float: left;
        padding: 0 1em;
        border-right: solid var(--base);
    }
    
    #link>ul>a:last-child>li {
        border: none;
    }
    /* トップ */
    
    #top {
        background-color: #00ff00;
        height: 72vh;
        width: 100%;
    }
    /* コンテンツ */
    
    #profile_name {
        width: 30%;
    }
    
    #profile_comment {
        width: 68%;
    }
    
    #profile_name {
        float: left;
    }
    
    #profile_comment {
        float: right;
    }
    
    #name>span {
        font-size: 0.5em;
        margin: 0 0.5em
    }
    
    #MyImg {
        width: 50%;
        margin: 0 auto;
        line-height: 1;
    }
    
    #MyImg>img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
    #profile_comment>div {
        width: 80%;
        margin: 0 auto;
    }
    
    #Work {
        color: var(--main);
    }
    
    #WorkMain {
        width: 80%;
        margin: 0 auto;
    }
    
    #WorkMain>ul {
        list-style-type: none;
    }
    
    #WorkMain>ul>li {
        margin: 1em;
    }
    
    #WorkMain>ul>li>p {
        margin: 0
    }
    
    #WorkMain>ul>li>p>small {
        margin-left: 2em;
    }
    
    #technology {
        margin-top: 1em;
        padding: 0.7em 0;
    }